In [1]:
import pandas as pd
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

data = pd.read_csv("affaits_dataset.csv",header=0)
data.head()

,id,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
0,4,0,male,37.0,10.00,no,3,18,7,4
1,5,0,female,27.0,4.00,no,4,14,6,4
2,11,0,female,32.0,15.00,yes,1,12,1,4
3,16,0,male,57.0,15.00,yes,5,18,6,5
4,23,0,male,22.0,0.75,no,2,17,6,3

In [2]:
le = preprocessing.LabelEncoder()

data = data.apply(le.fit_transform)
data.head()

,id,affairs,gender,age,yearsmarried,children,religiousness,education,occupation,rating
0,0,0,1,4,6,0,2,5,6,3
1,1,0,0,2,4,0,3,2,5,3
2,3,0,0,3,7,1,0,1,0,3
3,5,0,1,8,7,1,4,5,5,4
4,6,0,1,1,2,0,1,4,5,2

In [3]:
y = data["affairs"]
x = data[list(data.columns[2:12])]

In [4]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [5]:
Tree = tree.DecisionTreeClassifier()
Tree = Tree.fit(x_train, y_train)

y_pred = Tree.predict(x_test)

In [6]:
print(confusion_matrix(y_test, y_pred))
print(accuracy_score(y_test,y_pred))

[[103  10   3   1   5  17]
 [  5   0   0   1   1   0]
 [  4   2   0   1   1   0]
 [  5   0   0   0   3   0]
 [  7   0   0   0   2   2]
 [  7   0   0   0   0   1]]
0.585635359116022

In [7]:
features = pd.DataFrame()
features['feature'] = data.columns[2:12]
features['importance'] = Tree.feature_importances_
features.sort_values(by=['importance'])
features

         feature  importance
0         gender    0.052824
1            age    0.185275
2   yearsmarried    0.144513
3       children    0.023332
4  religiousness    0.136286
5      education    0.147283
6     occupation    0.149498
7         rating    0.160989

In [8]:
Forest = RandomForestClassifier(n_estimators = 100)
Forest = Forest.fit(x_train, y_train)

y_pred = Forest.predict(x_test)

In [9]:
print("confusion matrix:", confusion_matrix(y_test, y_pred), sep="\n")
print("accuracy score:", accuracy_score(y_test,y_pred), sep="\n")

confusion matrix:
[[131   1   0   0   0   7]
 [  7   0   0   0   0   0]
 [  8   0   0   0   0   0]
 [  7   0   0   0   1   0]
 [  9   1   0   0   0   1]
 [  8   0   0   0   0   0]]
accuracy score:
0.7237569060773481

In [10]:
features = pd.DataFrame()
features['feature'] = data.columns[2:12]
features['importance'] = Forest.feature_importances_
features.sort_values(by=['importance'])
features

         feature  importance
0         gender    0.050565
1            age    0.170693
2   yearsmarried    0.133223
3       children    0.033339
4  religiousness    0.152994
5      education    0.169818
6     occupation    0.137834
7         rating    0.151533

In [12]:
# need to install first
import os
os.environ["PATH"] += os.pathsep + 'C:\\Program Files (x86)\\Graphviz2.38\\bin\\'

import graphviz 

dot_data = tree.export_graphviz(Tree, out_file=None, 
                      feature_names=data.columns[2:12],  
                      class_names=data.columns[1],  
                      filled=True, rounded=True,  
                      special_characters=True)  
graph = graphviz.Source(dot_data)  
graph

'C:\Users\Suhong' is not recognized as an internal or external command,
operable program or batch file.

CalledProcessError: Command '['dot.bat', '-Tsvg']' returned non-zero exit status 1.